In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
##https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud
credit_card_data = pd.read_csv('creditcard.csv')

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [7]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [8]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [9]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [12]:
legit_sample = legit.sample(n=492)
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
188610,128050.0,2.081187,0.035779,-1.483037,0.227284,0.347264,-0.814433,0.232397,-0.320865,0.479695,...,0.249065,0.889879,0.027297,0.728832,0.303919,-0.138408,-0.016751,-0.051328,1.00,0
86214,61140.0,0.765943,-1.512445,-0.052582,-0.320421,-1.410605,-0.972158,0.025307,-0.291435,-0.822342,...,-0.404333,-1.497084,-0.095714,0.329683,-0.079436,0.787334,-0.127759,0.065391,335.78,0
206434,136208.0,1.616071,-0.692620,-3.056903,0.378210,1.063121,-0.618925,1.251528,-0.490609,-0.459283,...,0.443151,0.783040,-0.486575,0.214226,0.662957,0.678091,-0.184234,-0.053403,282.00,0
31119,36218.0,-1.286832,-0.570314,1.349601,-2.466386,-1.026646,0.420667,-0.238201,0.620276,-3.136815,...,0.093887,0.194287,0.158293,-0.302366,0.320578,-0.245286,-0.087091,-0.039802,150.44,0
178437,123623.0,-2.052736,1.411752,1.026425,0.770975,-0.173853,0.322357,-0.006806,0.757179,-0.156923,...,-0.274132,-0.640060,-0.047371,0.546296,0.431669,-0.721634,-0.164351,-0.155576,35.90,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33493,37255.0,1.086227,-0.250572,-1.527851,0.275611,2.251396,3.438627,-0.123033,0.736383,-0.088167,...,-0.022998,-0.302619,-0.277836,1.024586,0.958461,-0.257033,-0.009039,0.025826,111.74,0
102992,68450.0,-0.600574,0.741454,1.210185,-2.054582,-0.175707,-1.399476,0.811685,-0.353559,0.524901,...,-0.052325,-0.163003,-0.125871,0.420633,-0.109720,-0.199992,-0.180357,0.120126,5.59,0
255113,157068.0,-0.735402,1.328873,0.978751,2.666495,1.057390,0.756366,0.660432,0.319182,-1.263339,...,0.119013,0.327329,-0.305242,0.654612,0.344210,0.065934,-0.032334,0.065027,7.84,0
49250,43974.0,1.346923,-1.023541,0.036388,-1.266140,-1.224028,-1.004749,-0.453017,-0.282107,-2.220760,...,-0.415028,-0.979059,0.162147,0.355152,0.198898,-0.447746,0.007005,0.027556,83.22,0
82312,59356.0,0.012552,2.096181,-2.273485,1.577957,0.671973,-1.461445,0.203541,-0.530699,-0.640873,...,0.719900,-0.316721,0.293945,-0.032690,-0.444040,-0.419917,0.039776,-0.060752,0.89,0

Concatenating two DataFrames

In [13]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [14]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
188610,128050.0,2.081187,0.035779,-1.483037,0.227284,0.347264,-0.814433,0.232397,-0.320865,0.479695,...,0.249065,0.889879,0.027297,0.728832,0.303919,-0.138408,-0.016751,-0.051328,1.00,0
86214,61140.0,0.765943,-1.512445,-0.052582,-0.320421,-1.410605,-0.972158,0.025307,-0.291435,-0.822342,...,-0.404333,-1.497084,-0.095714,0.329683,-0.079436,0.787334,-0.127759,0.065391,335.78,0
206434,136208.0,1.616071,-0.692620,-3.056903,0.378210,1.063121,-0.618925,1.251528,-0.490609,-0.459283,...,0.443151,0.783040,-0.486575,0.214226,0.662957,0.678091,-0.184234,-0.053403,282.00,0
31119,36218.0,-1.286832,-0.570314,1.349601,-2.466386,-1.026646,0.420667,-0.238201,0.620276,-3.136815,...,0.093887,0.194287,0.158293,-0.302366,0.320578,-0.245286,-0.087091,-0.039802,150.44,0
178437,123623.0,-2.052736,1.411752,1.026425,0.770975,-0.173853,0.322357,-0.006806,0.757179,-0.156923,...,-0.274132,-0.640060,-0.047371,0.546296,0.431669,-0.721634,-0.164351,-0.155576,35.90,0

In [15]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,100786.593496,0.132265,0.091524,-0.016542,0.013013,0.063881,-0.054810,0.030636,0.018111,0.071652,...,0.010806,0.009416,0.005726,-0.004013,-0.012616,-0.035979,-0.038916,-0.012130,-0.011345,75.402663
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into Features & Targets

In [17]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

Split the data into Training data & Testing Data

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [19]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

# Model Training

Logistic Regression

In [20]:
model = LogisticRegression()
model.fit(X_train, Y_train)
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.940279542566709

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9238578680203046